<!--For modern browsers-->


h1 {
    
}

h2 {
    color:white;
    font-size: 1.25em;
    line-height: .5em;
}
h3 {
    color: white;
    font-size: 1em;
    line-height: .5em;

}
h4 {
    font-size: 1em;
    text-indent: 25px;
    line-height: 0em;
}
p {
    font-size: 1em;
    font-style: initial;
}
li {
    font-size: 1em;

}
footer{
    position:fixed;
    align-content: center;
    bottom:0;
    left:50%;
    /*margin-left:-200px; /*negative half the width */
    background:white;
    width:400px;
    height:100px;
    display: flex
}
p {
    font-style: italic
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

i {
    margin-right: 5px;
  }

  .boxed {
    border: none;
    border-width: .5px;
    width: 1024px;
    text-align: left;
  }
